
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-color: black;
    background: url("./assets/terrain.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    width: 95%;
    height: 100vh;
    position: relative;
    color: white;
    margin: auto;

}

.game-over {
    visibility: hidden;
    position: absolute;
    font-size: 40px;
    width: 450px;
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    padding: 20px;
    border-radius: 40px;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    
    h3 {
        font-size: 30px;
    }

}

.trait-central {
    border: 1px dashed white;
    position: absolute;
    height: 80%;
    left: 50%;
    top: 10%
}

.tab-score {
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    padding: 20px;

}

.score {
    background-color: rgba(255, 255, 255, 0.74);
    width: 250px;
    color: black;
    padding: 10px;
    border-radius: 10px 0 10px 0px;
    box-shadow: 0 0 20px 2px gray;
}

.ball {
    width: 25px;
    height: 25px;
    background : url("./assets/ball.png");
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    // top: 50%;
    // right: 50%;
    // box-shadow: 0 0 5px 2px rgb(255, 166, 0);
    transform: translate(-50%, -50%);

}

.palet {
    width: 25px;
    height: 20vh;
    // border: 1px solid white;
    background-color: rgb(30, 196, 80);
    box-shadow: 0 0 5px 2px white;
}

.player {
    font-size: 45px;
}

.player-1 {
  
    top: 50%;
    position: absolute;
    left: 10px;
    border-radius: 10px 10px 10px 10px;
}

.player-2 {
   
    top: 50%;
    position: absolute;
    right: 10px;
    border-radius: 10px 10px 10px 10px;
}

.start {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150px;
    padding: 20px;
    transform: translate(-50%, -50%);
    border-color: transparent;
    border-radius: 25px;
    transition: 0.2s;
    box-shadow: 0 0 10px 2px gray;
    font-size: 25px;

}

.start:hover {
    cursor: pointer;
    background-color: gray;
    color: white;
}